In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
names = ['age','workclass','fnlwgt','education','education-num',
        'matrital-status','occupation','relationship','race','sex',
        'capital-gain','capital-loss','hours-per-week','native-country',
        'income']

In [30]:
data = pd.read_csv('/Users/xieqingyao/Desktop/adult.csv',header=None,names=names)
df = data[['age','sex','hours-per-week','education','income']]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   sex             32561 non-null  object
 2   hours-per-week  32561 non-null  int64
 3   education       32561 non-null  object
 4   income          32561 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.2+ MB

In [32]:
df.describe()

                age  hours-per-week
count  32561.000000    32561.000000
mean      38.581647       40.437456
std       13.640433       12.347429
min       17.000000        1.000000
25%       28.000000       40.000000
50%       37.000000       40.000000
75%       48.000000       45.000000
max       90.000000       99.000000

In [33]:
df.head(3)

   age    sex  hours-per-week   education  income
0   39   Male              40   Bachelors   <=50K
1   50   Male              13   Bachelors   <=50K
2   38   Male              40     HS-grad   <=50K

In [34]:
X = df.iloc[:,:-1].values
# X
y = df.iloc[:,-1].values
# y

array([[39, ' Male', 40, ' Bachelors'],
       [50, ' Male', 13, ' Bachelors'],
       [38, ' Male', 40, ' HS-grad'],
       ...,
       [58, ' Female', 40, ' HS-grad'],
       [22, ' Male', 20, ' HS-grad'],
       [52, ' Female', 40, ' HS-grad']], dtype=object)

In [35]:
data_dummies = pd.get_dummies(df,drop_first = True)
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      32561 non-null  int64
 1   hours-per-week           32561 non-null  int64
 2   sex_ Male                32561 non-null  uint8
 3   education_ 11th          32561 non-null  uint8
 4   education_ 12th          32561 non-null  uint8
 5   education_ 1st-4th       32561 non-null  uint8
 6   education_ 5th-6th       32561 non-null  uint8
 7   education_ 7th-8th       32561 non-null  uint8
 8   education_ 9th           32561 non-null  uint8
 9   education_ Assoc-acdm    32561 non-null  uint8
 10  education_ Assoc-voc     32561 non-null  uint8
 11  education_ Bachelors     32561 non-null  uint8
 12  education_ Doctorate     32561 non-null  uint8
 13  education_ HS-grad       32561 non-null  uint8
 14  education_ Masters       32561 non-null  uint8
 15  education_ Preschool     32561 non-null  uint8
 16  education_ Prof-school   32561 non-null  uint8
 17  education_ Some-college  32561 non-null  uint8
 18  income_ >50K             32561 non-null  uint8
dtypes: int64(2), uint8(17)
memory usage: 1.0 MB

In [36]:
from sklearn.tree import DecisionTreeClassifier

X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

tree = DecisionTreeClassifier(criterion='gini',random_state=1,max_depth=5)
tree.fit(X,y)
print('score:',tree.score(X,y))

ValueError: could not convert string to float: ' Male'