    pandas套件練習

    輸入資料

In [45]:
import pandas as pd
df = pd.read_csv('/Users/xieqingyao/Desktop/pokemon_data.csv')

    看前面的資料 預設是5筆資料

In [9]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

    所有欄位的名稱

In [12]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

    特定欄位

In [18]:
df.head()['Name']

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [20]:
df.head()[['Name','HP','#']]

                    Name  HP  #
0              Bulbasaur  45  1
1                Ivysaur  60  2
2               Venusaur  80  3
3  VenusaurMega Venusaur  80  3
4             Charmander  39  4

    指定特定行數

In [29]:
df.loc[2:8]                   #用位置查詢

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [30]:
df.loc[df['Type 1'] == 'Fire']     #用條件查詢

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

    資料的結構

In [28]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

    資料排序

In [33]:
df.sort_values(['Speed'])    #不特別設定 >> 從小到大

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True

In [35]:
df.sort_values(['Speed'],ascending=False)    #當然也可以改大到小

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False

In [40]:
df.sort_values(['Attack','Defense'],ascending=[1,0])      #左邊的條件會優先

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

    改變資料

    創造新欄位

In [49]:
df['power'] = df['HP']+df['Attack']+df['Speed']     #用欄位名稱操作比較直觀
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,power
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143,139
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185,182
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245,242

In [50]:
df['total'] = df.iloc[:,4:7].sum(axis=1)      #假設把 HP,Attack,Denfense合併
df.head(3)                                    #要注意 sum不包含最後一個 要記得(+1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,power
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143,139
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185,182
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245,242

    移除欄位

In [67]:
df.drop(columns=['power','total'])
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

    匯出檔案 dataframe >> csv

In [68]:
df.to_csv('/Users/xieqingyao/Desktop/change.csv',index=False)

    篩選資料

In [69]:
df1=df.loc[(df['Type 1'] == 'Grass') & (df['HP'] > 80)]
df1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

    把舊的序號換掉

In [70]:
df1 = df1.reset_index()
df1

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
1,298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
2,390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
3,434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
4,510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
5,511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
6,516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
7,550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
8,551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
9,652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
10,701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
11,720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
12,741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [87]:
import re
df2=df.loc[~df['Name'].str.contains('B',regex=True)]     #名字裡有B的除外
df2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [89]:
df.loc[df['Type 1'].str.contains('Fire|Grass',regex=True)]   #抓出 Type 1 = Fire/Grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

    忽略大小寫 >> re.I

In [90]:
df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [93]:
df.loc[df['Name'].str.contains('pi[a-z]*',flags=re.I,regex=True)]   #有pi的內容

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
189,175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False
202,187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
345,316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False
358,327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
463,416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False
596,536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False

In [94]:
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]   #pi開頭

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

    改變內容

In [99]:
# df.loc[df['Type 1'] == 'Grass','Type 1'] = 'G'
df.loc[df['Type 1'] == 'G','Type 1'] = 'Grass'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [101]:
df.loc[df['Type 1'] == 'Grass','Legendary'] = 'True'   #把草系都當作神獸
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,True
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,True
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,True
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,True
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

    分組比較

In [105]:
df.groupby(['Type 1']).mean().sort_values('Speed',ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647

In [106]:
df.groupby(['Type 1']).sum()

              #    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
Type 1
Bug       23080  3925    4897     4880     3717     4471   4256         222
Dark      14302  2071    2740     2177     2314     2155   2361         125
Dragon    15180  2666    3588     2764     3099     2843   2657         124
Electric  15994  2631    3040     2917     3961     3243   3718         144
Fairy      7642  1260    1046     1117     1335     1440    826          70
Fighting   9824  1886    2613     1780     1434     1747   1784          91
Fire      17025  3635    4408     3524     4627     3755   3871         167
Flying     2711   283     315      265      377      290    410          22
Ghost     15568  2062    2361     2598     2539     2447   2059         134
Grass     24141  4709    5125     4956     5425     4930   4335         235
Ground    11401  2361    3064     2715     1807     2008   2045         101
Ice       10165  1728    1746     1714     1861     1831   1523          85
Normal    31279  7573    7200     5865     5470     6245   7012         299
Poison     7050  1883    2091     1927     1692     1803   1780          71
Psychic   21706  4026    4073     3858     5609     4918   4645         193
Rock      17280  2876    4086     4435     2787     3321   2460         152
Steel     11957  1761    2503     3412     1823     2177   1492         104
Water     33946  8071    8305     8170     8379     7898   7388         320

In [107]:
df.groupby(['Type 1']).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [116]:
df['count'] = 1                             #創造新的欄位 用來計算
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [117]:
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

    ref:https://www.youtube.com/watch?v=vmEHCJofslg&t=808s
    ref:https://github.com/KeithGalli/pandas
    ref:https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/462517/
    ref: