    python 元組(tuple)

In [5]:
ex=(1,"zero-one",10)

In [6]:
print(ex)
print(ex[0])
print(ex[1])
print(ex[2])

(1, 'zero-one', 10)
1
zero-one
10

    做出1對1的資料格式

In [7]:
name,age,career,position = ("leonard",29,"NBA-player","small-forward")

In [8]:
print(name)
print(age)
print(career)
print(position)

leonard
29
NBA-player
small-forward

    元組資料合併

In [11]:
A = (1,2,3,4)
B = (0,8,6,4,2)
C = A + B
print(C)

(1, 2, 3, 4, 0, 8, 6, 4, 2)

    格式轉換 list to tuple

In [12]:
L = [1,5,3,7,9]
T = tuple(L)
print(T)

(1, 5, 3, 7, 9)

    基本語法 資料參考：http://tw.gitbook.net/python/index.html