# Python Crash Course Exercises 2 - List, Dictionary, and Set

This is an exercise to test your understanding of Python Basics.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

## List

1. Given this nested list, use indexing to grab the word "hello"

In [2]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
lst[3][1][2][0]

'hello'

2. Please creat a student list with John, Mary, Alex, Bob, Charles, Lucas, Kenny, Keven, Tiyia and Steve.

In [5]:
student = ['John','Mary','Alex','Bob','Charles','Lucas','Kenny','Keven','Tiyia','Steve']

3. Please indicat how many students in this list.

In [6]:
len(student)

10

4. Which student is the last one of this list?(indexing)

In [7]:
student[-1]

'Steve'

5. What are those students in the 3rd to 7th positions of this student list?

In [8]:
student[2:7]

['Alex', 'Bob', 'Charles', 'Lucas', 'Kenny']

6. Please replace the 8th student with Dora and print the updated list

In [9]:
student[7]='Dora'
print(student)

['John',
 'Mary',
 'Alex',
 'Bob',
 'Charles',
 'Lucas',
 'Kenny',
 'Dora',
 'Tiyia',
 'Steve']

7. Please add Peter to the end of the student list and print the updated list.

In [10]:
student.append('Peter')
print(student)

['John', 'Mary', 'Alex', 'Bob', 'Charles', 'Lucas', 'Kenny', 'Dora', 'Tiyia', 'Steve', 'Peter']

8. Please insert Brandon as the fifth student of the list and print the updated list.

In [11]:
student.insert(4,'Brandon')
print(student)

['John', 'Mary', 'Alex', 'Bob', 'Brandon', 'Charles', 'Lucas', 'Kenny', 'Dora', 'Tiyia', 'Steve', 'Peter']

9. Please remove the 6th student of the list and print the updated list.

In [12]:
student.remove(student[5])
print(student)

['John', 'Mary', 'Alex', 'Bob', 'Brandon', 'Lucas', 'Kenny', 'Dora', 'Tiyia', 'Steve', 'Peter']

10. Please remove 'Kenny' of the the list and print the updated list.

In [13]:
student.remove('Kenny')
print(student)

['John', 'Mary', 'Alex', 'Bob', 'Brandon', 'Lucas', 'Dora', 'Tiyia', 'Steve', 'Peter']

11. Creat a program that asks the user for his/her birthday in the format"DD-MM-YYYY".Then print "You were born in [Month]"<br />
example:"You were born in Febuary"

In [16]:
birthday = input('Input your birthday in format DD-MM-YYYY')
month = birthday[3:5]

if month == '01':
    print('You were born in January')
elif month == '02':
    print('You were born in February')
elif month == '03':
    print('You were born in March')
elif month == '04':
    print('You were born in April')
elif month == '05':
    print('You were born in May')
elif month == '06':
    print('You were born in June')
elif month == '07':
    print('You were born in July')
elif month == '08':
    print('You were born in August')
elif month == '09':
    print('You were born in September')
elif month == '10':
    print('You were born in October')
elif month == '11':
    print('You were born in November')
elif month == '12':
    print('You were born in December')
else:
    print('input error')

Input your birthday in format DD-MM-YYYY 12-01-1999

You were born in January

12. Creat a program with a predefined list of people, John, Mary, and Peter. Ask the user for his/her name, add it to the end of this list and print the updated list.

In [15]:
people = ['John','Mary','Peter']
name = input('Input your name >>> ')
people.append(name)
print(people)

Input your name >>>  Max

['John', 'Mary', 'Peter', 'Max']

## Dictionary

13. Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky<br>

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

14. Please Create a user profile for your new game. Those user profiles will be stored in a dictionary with keys: 'age', 'username', 'weapons', 'is_active'  and 'clan' individually are 22, 'Shogun', ['katana', 'shuriken'], True, nad 'Japan'.

In [20]:
profile = {
    'age' : 22,
    'username' : 'Shogun',
    'weapons' : ['katana','shuriken'],
    'is_active' : True,
    'clan' : 'Japan'
}

15. iterate and print all the keys in the above user

In [22]:
print(profile.keys())

dict_keys(['age', 'username', 'weapons', 'is_active', 'clan'])

16. Add a new weapon 'shield' to your user

In [24]:
profile['weapons'].append('shield')

In [26]:
print(profile)

{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan'}

17. Add a new key to include 'is_banned'. Set it to false

In [30]:
profile['is_banned'] = False
print(profile)

{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan', 'is_banned': False}

18. Ban the user by setting the previous key to True

In [31]:
profile['is_banned'] = True
print(profile)

{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan', 'is_banned': True}

19. Create a new user2 my copying the previous user and update the keys age and username with values 100 and Timbo.

## Set

20. You are working for the school Principal. We have a database of school students:

> school = {'Bobby','Tammy','Jammy','Sally','Danny'}

during class, the teachers take attendance and compile it into a list.

> attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']

using what you learned about sets, create a piece of code that the school principal can use to immediately find out who missed class so they can call the parents. 
(Imagine if the list had 1000s of students. The principal can use the lists generated by the teachers + the school database to use python and make his/her job easier): Find the students that miss class!

In [32]:
#找出翹課仔
school = {'Bobby','Tammy','Jammy','Sally','Danny'}
attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']

attendance_list = set(attendance_list)           #都轉成set,才好運算
print(school.difference(attendance_list))

{'Tammy'}

# Great job!